{% extends "_project.html" %}
{% set play = True %}
{% block title %}Inception{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/css/dropzone.min.css">
{% endblock %}
{% block js_scripts %}
  {{ super() }}
  <script src="/js/dropzone.min.js"></script>
  <script src="/js/inception.js"></script>
{% endblock %}
{% block content %}
  {{ super() }}
  <div class="columns">
    <div class="column is-one-third">
      <p class="subtitle is-4">Upload</p>
      <div class="box has-text-centered" id="uploadArea">
        Drop your file here
      </div>
    </div>
    <div class="column">
      <p class="subtitle is-4">Result</p>
      <p class="content" id="result"></p>
    </div>
  </div>
{% endblock %}
