{% extends "_project.html" %}
{% set play = True %}
{% block title %}Inception{% endblock %}
{% block head %}
  {{ super() }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" rel="stylesheet">
{% endblock %}
{% block js_scripts %}
  {{ super() }}
  <script src="/js/inception.bundle.js"></script>
{% endblock %}
{% block content %}
  {{ super() }}
  <div class="columns">
    <div class="column is-one-third">
      <p class="subtitle is-4">Upload</p>
      <div class="box has-text-centered" id="uploadArea">
        Drop your file here
      </div>
    </div>
    <div class="column">
      <p class="subtitle is-4">Result</p>
      <p class="content has-text-centered" id="result"></p>
    </div>
  </div>
{% endblock %}
