{% extends "_project.html" %}
{% set play = True %}
{% block title %}Titanic{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/css/titanic.css">
{% endblock %}
{% block js_scripts %}
  {{ super() }}
  <script src="/js/titanic.bundle.js"></script>
{% endblock %}
{% block content %}
  {{ super() }}
  <div class="columns">
    <div class="column is-one-third">
      <p class="subtitle is-4">Would you survive ?</p>
      <div class="field">
        <label class="label">Age</label>
        <div class="control">
          <input name="age" class="input" type="number" value="7">
        </div>
      </div>

      <div class="field">
        <label class="label">Gender</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="gender" value="0" checked>
            Female
          </label>
          <label class="radio">
            <input type="radio" name="gender" value="1">
            Male
          </label>
        </div>
      </div>

      <div class="field">
        <label class="label">Class</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="pclass" value="1" checked>
            First
          </label>
          <label class="radio">
            <input type="radio" name="pclass" value="2">
            Second
          </label>
          <label class="radio">
            <input type="radio" name="pclass" value="3">
            Third
          </label>
        </div>
      </div>

      <div class="field">
        <label class="label">Fare</label>
        <div class="control">
          <input name="fare" class="input" type="number" value="7.2">
        </div>
      </div>

      <div class="field">
        <label class="label">Port</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="embarked" value="0" checked>
            Southampton
          </label>
          <label class="radio">
            <input type="radio" name="embarked" value="1" checked>
            Cherbourg
          </label>
          <label class="radio">
            <input type="radio" name="embarked" value="2">
            Queenstown
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button id="submit" class="button is-link">Submit</button>
        </div>
      </div>

    </div>
    <div class="column">
      <p class="titanic-results">
          <i class="fa fa-female silhouette"></i>
      </p>
      <p class="titanic-results" id="results">--%</p>
    </div>
  </div>
{% endblock %}
