{% extends "_project.html" %}
{% set play = True %}
{% block title %}MNIST{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/css/mnist.css">
{% endblock %}
{% block js_scripts %}
  {{ super() }}
  <script src="/js/mnist.bundle.js"></script>
{% endblock %}
{% block content %}
  {{ super() }}
  <div class="columns">
    <div class="column is-one-third">
      <p class="subtitle is-4">Draw a number and send it for recognition</p>
      <p>
        <canvas id="canvas" width="280" height="280"></canvas>
      </p>
      <p>
        <input class="button is-primary" type="submit" value="Predict">
        <input class="button is-danger"  type="reset"  value="Clear">
      </p>
    </div>
    <div class="column">
      <p class="subtitle is-4">Number reconized</p>
      <p id="result">0</p>
    </div>
  </div>
{% endblock %}
