<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lucas ML Minizoo - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    {% endblock %}
  </head>
  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        My AI Minizoo
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/">Projects</a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/titanic/play.html">Titanic</a>
            <a class="navbar-item" href="/mnist/play.html">MNIST</a>
            <a class="navbar-item" href="/inception/play.html">Inception</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

  <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Build by
          <a href="http://www.linkedin.com/in/lucas-fernandez-17825124" target="_blank">Lucas Fernandez</a> using
          <a href="https://github.com/Ceasar/staticjinja" target="_blank">Staticjinja</a>,
          <a href="https://bulma.io" target="_blank"> Bulma</a>,
          <a href="https://www.docker.com" target="_blank">Docker</a> for the website, hosted on
          <a href="https://www.scaleway.com" target="_blank">Scaleway</a> and using
          <a href="https://keras.io" target="_blank">Keras</a>,
          <a href="http://scikit-learn.org" target="_blank">Scikit</a> for machine learning.
      </p>
    </div>
  </div>
</footer>
  <script type="text/javascript" src="/js/bulma-navbar.js"></script>
  {% include 'codes/analytics.js' %}
  {% block js_scripts %}{% endblock %}
  </body>
</html>
