<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lucas ML Minizoo - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    {% endblock %}
  </head>
  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        My AI Minizoo
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/">Projects</a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/titanic/play.html">Titanic</a>
            <a class="navbar-item" href="/mnist/play.html">MNIST</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

  <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Build by <a href="http://www.linkedin.com/in/lucas-fernandez-17825124">
        Lucas Fernandez</a> using <a>Staticjinja</a>, <a href="https://bulma.io">
        Bulma</a>, <a href="https://www.docker.com">Docker</a> for the website
        and <a href="https://keras.io">Keras</a>, <a href="http://scikit-learn.org">
        Scikit</a> for the machine learning.
      </p>
    </div>
  </div>
</footer>

  <script type="text/javascript" src="/js/bulma-navbar.js"></script>
  {% include 'codes/analytics.js' %}
  {% block js_scripts %}{% endblock %}
  </body>
</html>
