{% extends "_base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block body %}
<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        My machine learning Minizoo
      </h1>
      <h2 class="subtitle is-4">
        Discover here my last interactives experimentations with machine learning
      </h2>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">

      <a href="/titanic/play.html" class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="/img/titanic.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="title is-3">Titanic</p>
            <p class="subtitle is-5">The Titanic incident is one of the most
              famous in the history. On April 15, 1912, during its inauguration
              trip, the Titanic sank after a collision with an iceberg. From
              this incident, only 1502 of the 2224 passengers and crew survived.
              Thanks to the availability of the data, the prediction of the
              survival to the Titanic accident is a well-known machine learning
              exercise.</p>
          </div>
        </div>
      </a>

      <a href="/mnist/play.html" class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="/img/mnist.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="title is-3">MNIST</p>
            <p class="subtitle is-5">The MNIST database of is a set of 70,000
              handwritten digits and pre-classified making it a perfect base for
              a classification exercise. All samples are in black and white and
              pre-normalized in size and characters position. The MNIST is a
              subset of the more extensive NIST database.</p>
          </div>
        </div>
      </a>

      <a href="/inception/play.html" class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="/img/inception.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="title is-3">Inception</p>
            <p class="subtitle is-5">The inception neural network is one of the
              most famous classifiers. Hereafter I am putting in demo the
              version 3 trained on the famous Imagenet database making it able
              to recognize 10 000 types of objects on a picture. Even if the
              implementation of it was pure thanks to modern machine learning
              framework, this application is a great first step before YOLO
              algorithm.</p>
          </div>
        </div>
      </a>

    </div>
</section>
{% endblock %}
