{% extends "_base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block body %}
<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        My machine learning Minizoo
      </h1>
      <h2 class="subtitle is-4">
        Discover here my last interactives experimentations with machine learning
      </h2>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">

      <a href="/titanic/play.html" class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="/img/titanic.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="title is-3">Titanic</p>
            <p class="subtitle is-5">The sinking of the RMS Titanic is one of
              the most infamous shipwrecks in history. On April 15, 1912,
              during her maiden voyage, the Titanic sank after colliding with an
              iceberg, killing 1502 out of 2224 passengers and crew. This
              sensational tragedy shocked the international community and led to
              better safety regulations for ships.</p>
          </div>
        </div>
      </a>

      <a href="/mnist/play.html" class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="/img/mnist.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="title is-3">MNIST</p>
            <p class="subtitle is-5">The MNIST database of handwritten digits,
              available from this page, has a training set of 60,000 examples,
              and a test set of 10,000 examples. It is a subset of a larger set
              available from NIST. The digits have been size-normalized and
              centered in a fixed-size image.</p>
          </div>
        </div>
      </a>

    </div>
</section>
{% endblock %}
